body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px 0;
    background-color: #1F2833; /* Установка черного фона */
    color: #66FCF1; /* Установка белого цвета текста для контраста */
}
a {
    color: #66FCF1; /* Замените на нужный вам цвет */
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
}

header, footer {
    width: 100%;
    background-color: #45A29A;
    color: #66FCF1;
    text-align: center;
    padding: 20px 0;
}

.logo {
    max-width: 100px; /* Замените по необходимости */
}

nav {
    background-color: #45A29A;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    display: inline;
    margin: 0 15px;
}

.menu a {
    color: #66FCF1; /* Изменено на белый для лучшей видимости на черном фоне */
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #66FCF1; /* Можно изменить цвет рамки на более светлый для контраста */
    padding: 8px;
    text-align: left;
}

thead th {
    background-color: #45A29A;
    color: #66FCF1;
}

.even {
    background-color: #1F2833; /* Изменен цвет на более темный для контраста */
}

.odd {
    background-color: #45A29A; /* Изменен цвет на более темный для контраста */
}

footer {
    margin-top: 20px;
}
